<div ng-controller="Skybrud.Social.Instagram.OAuth.Controller">

    <div ng-show="model.value">
        <div style="margin-bottom:15px;">
            <div style="margin-bottom: 5px;">
                <strong>{{model.value.name}}</strong> <span style="font-size: 12px;">(ID: {{model.value.id}})</span>
            </div>
            <button class="btn" ng-click="clear()" prevent-default="">Clear</button>
        </div>

        <div class="hashtag-wapper" style="margin-bottom:15px;" ng-show="model.value.useInstagramGraphAPI">
            Search photos by hashtag
            <input type="text" name="hashtag" ng-model="tmpHashtag" ng-keypress="hashtagEnterKeypress($event)" ng-disabled="loading" style="padding: 2px 3px; height: auto;" />
            <button type="button" ng-click="checkHashtagAvailability()" prevent-default="" ng-disabled="loading">
                <span ng-if="loading">Checking...</span>
                <span ng-if="!loading">Check availability and Show samples</span>
            </button>
            <button type="button" ng-click="clearHashtag()" prevent-default="" ng-disabled="loading">
                Clear hashtag
            </button>
            <ul class="preview" ng-if="mediaByHashtag && mediaByHashtag.length !== 0" style="list-style: none; padding: 10px 0 0;margin: 0; display: flex; flex-wrap: wrap; align-items: center;">
                <li ng-repeat="media in mediaByHashtag" style="display: inline-block; margin-right: 5px; margin-bottom: 5px;">
                    <a href="{{media.permalink}}" target="_blank" class="photo">
                        <img ng-src="{{media.media_url}}" alt="" style="width: 100px;" />
                    </a>
                </li>
            </ul>
            <div class="preview-nodata" ng-if="mediaByHashtag && mediaByHashtag.length === 0" style="padding-top: 10px; font-style: italic;">There's no media matched this hashtag</div>
        </div>
    </div>

    <div ng-show="!model.value">
        <button ng-click="authorize()" prevent-default="" class="btn oauth" ng-class="needprofessionalaccount?'facebook':''">
            <i class="fa fa-facebook-square" ng-if="needprofessionalaccount"></i>
            <i class="fa fa-instagram" ng-if="!needprofessionalaccount"></i>
            Authorize
        </button>
    </div>

</div>